<ion-view view-title="Dashboard-Employer" hide-back-button="true" cache-view="false">
    <ion-content class="padding-top">
   
        <ion-list>
            <div class="card">
            <div class="item item-divider">Your Summary</div>
            <ion-item class="item-text-wrap item-thumbnail-left">
                <img ng-src={{data.currUser.avatar}}>
                <h2 style="font-size:large"><b>{{data.currUser.name}}</b></h2>
                <p><b>Company Name: {{data.currUser.companyName}}</b></p>
                <h2>{{data.numWorkers > 0 ? "You Have " + data.numWorkers + " Employees" : "No Employees Yet..."}}</h2>
                <h2 ng-style="{ color: data.numWorkersClockedIn > 0 ? 'green' : 'red' }">Employees Clocked-In: <b>{{data.numWorkersClockedIn}}</b></h2>
            </ion-item>
                </div>
            <div class="ion-item center">
                <button ng-click="addWorker()" class="button  button-large addEmpBtn ion-plus-round larger "> Add An Employee</button>
            </div>
            
            <div class="card">
                <div class="item item-divider">List Of Your Employees</div>
                <ion-item class="item" ng-show="(data.workersArray.length == 0)"><b>No Employees Yet...</b></ion-item>
                <ion-item class="item item-thumbnail-left" menu-close="" ng-repeat="worker in data.workersArray" ng-click="editWorker(worker)">
                    <img ng-src={{worker.value.avatar}}>
                    <h2><b>{{worker.value.name}}</b></h2>
                    <h2>{{worker.value.email}}</h2>
                    <p ng-style="{ color:worker.value.isClockedIn == 'true' ? 'green' : 'red' }">{{worker.value.isClockedIn == "true" ? "Clocked-In Right Now" : "Not Clocked-In Right Now"}}</p>
                    <p style="color:black"><b>Worked:</b> <span style="color:blue"><b>{{timeWorkedThisMonth(worker.value.clock)}}</b></span> This Month</p>

                    <ion-option-button class="button-energized" ng-click="editWorker(worker)">Edit</ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="deleteWorker(worker)">Delete</ion-option-button>
                </ion-item>
            </div>


        </ion-list>
    </ion-content>
</ion-view>
