
<ion-view title="Time Sheet" cache-view="false">
    <ion-content class="padding-top">

        <ion-list>
            <div class="item item-divider">{{userName}}'s Time Sheet</div>
            <ion-item class="item item-avatar item-text-wrap" ng-repeat="clock in clocks" ng-click="">
                <img src="img/clock-icon.jpg">
                <h2>Date:{{" "+Date.getMonthName(clock.clockInTime) + " " + Date.getDayInMonth(clock.clockInTime)+", " + Date.getYear(clock.clockInTime)}}</h2>
                <h2>Clock-In Time:{{" "+Date.getNumHours(clock.clockInTime)+":"+Date.getNumMinutes(clock.clockInTime) +":"+Date.getNumSeconds(clock.clockInTime)}}</h2>
                <h2>Clock-Out Time:{{" "+Date.getNumHours(clock.clockOutTime)+":"+Date.getNumMinutes(clock.clockOutTime) +":"+Date.getNumSeconds(clock.clockOutTime)}}</h2>
                <h2>Shift Time: {{Date.getDiffrenceInHours(clock.clockInTime, clock.clockOutTime)+":"+Date.getDiffrenceInMin(clock.clockInTime, clock.clockOutTime)+":"+Date.getDiffrenceInSec(clock.clockInTime, clock.clockOutTime)}}</h2>
                <p>Clocked-In At:{{clock.clockInLocation.address}}</p>
                <p>Clocked-Out At:{{clock.clockOutLocation.address}}</p>
                <ion-option-button class="button-energized" ng-click="">Edit</ion-option-button>
                <ion-option-button class="button-assertive">Delete</ion-option-button>
            </ion-item>

        </ion-list>
        <div class="spacer" style="width: 300px; height: 26px;"></div>

        <button class="button button-royal button-block button-large" ng-click=""><i class="button button-icon ion-paper-airplane"></i>Export Data</button>
        <div class="spacer" style="height: 30px;"></div>

        <button ng-click="backBtn();" class="button button-block button-assertive">Back</button>

    </ion-content>
</ion-view>