<ion-view view-title="Edit Employee" cache-view="false">
    <ion-content class="padding-top">

        <ion-list>
            <div class="card">
                <div class="item item-divider"><b>Edit: {{data.currWorker.name}}</b></div>

                <ion-item class="item-text-wrap item-thumbnail-left item-button-right">
                    <img ng-src={{data.currWorker.avatar}}>
                    <h2><b>Email: </b>{{data.currWorker.email}}</h2>
                    <p ng-style="{ color:data.currWorker.isClockedIn == 'true' ? 'green' : 'red' }">{{data.currWorker.isClockedIn == "true" ? "Clocked-In Right Now" : "Not Clocked-In Right Now"}}</p>
                    <p style="color:black"><b>Worked:</b> <span style="color:blue"><b>{{timeWorkedThisMonth(data.currWorker.clock)}}</b></span> This Month</p>
                    <a ng-click="goToTimeSheet(data.currWorkerEdited)" class="button button-clear button-calm "><i class="icon-left ion-clock timeSheetBtn"></i></a>
                </ion-item>
            </div>

         
            <div class="card">
                <div class="item item-divider">Allowed Locations To Clock-In/Clock-Out</div>
                <ion-list>
                    <ion-item class="item" ng-show="!(data.currWorker.allowedCoordinates)"><b>No Locations Yet...</b></ion-item>
                    <ion-item item-icon-left class="item" ng-repeat="loc in data.currWorker.allowedCoordinates">
                        <i class="icon ion-navigate"></i>
                        <span class="text-note"><b>{{loc.address}}</b></span><br>
                        <p> Radius: {{loc.radius}}(km) / {{kmToMile(loc.radius)}}(miles)</p>
                        <ion-option-button class="button-assertive" ng-click="deleteAddress(loc.address)">Delete</ion-option-button>

                    </ion-item>
                </ion-list>
            </div>
            <div class="ion-item">
                <button ng-click="addLocation(); showDiv=true" ng-show="!showDiv" class="button button-block button-large button-royal ion-plus-round"> Add Location</button>
            </div>

        </ion-list>
        <div ng-show="map">
            <div class="spacer" style="height: 10px;"></div>
            <div class="item item-divider-radius"><b>Set Raduis: {{data.radius}}(km) {{kmToMile(data.radius)}}(miles)</b></div>
            <div class="item range range-energized">
                <input type="range" min="0.1" max="5" value="0.1" step="0.1" ng-model="data.radius">
            </div>
            
            <div class="item item-divider-radius"><b>Input Address:</b></div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input name="txtAddress" type="search" placeholder="For Example: NYC, 57th street 8th Avenue" ng-model="data.address" required>
            </label>
            <button ng-click="codeAddress(map)" class="button button-block button-calm ion-search"> Find Address </button>
            
            
            
        </div>
        <div class="text-center" id="map" data-tap-disabled="true" ng-show="map"></div>
        <div class="spacer" style="height: 10px;"></div>
        <button ng-click="backToDash();" class="button button-block button-large button-assertive">Back</button>
        <div class="spacer" style="height: 30px;"></div>
    </ion-content>
</ion-view>
